.dashboard {
    width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  margin-top: 96px;
  margin-bottom: 45px;
}

header h1{
  margin: 0;
}

.stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 43px;
}

.table-container{
  margin-top: 96px;
}

/* .dashboard-header>h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 64px;
    font-weight: 600;
    line-height: 101px;
    letter-spacing: 0em;
}

.box-profile {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    position: absolute;
    top: 2rem;
}

.container-cards {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.dashboard-table {
    height: 36.5rem;
    position: relative;
} */